* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}
p {
    margin: 0;
}
body {
    padding: 0px 40px 10px 40px;
    flex-direction: column;
    align-items: center;
}
header {
    position: fixed;
    z-index: 1000;
    background-color: white;
    height: 12vh;
    padding: 0 40px;
}
.first_button_form {
    background: #9F78FF;
    text-transform: capitalize;
    padding: 27px 25px;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    line-height: 1;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    z-index: 100;
    border: 0;
    overflow: hidden;
    margin: 0;
    border-radius: 4px;
}
.first_button_form:hover {
    color: white;
    text-decoration: underline;
}
.first_button_form:hover::before {
    transform: scaleX(1);
    border: 1px solid transparent;
    color: #fff;
}
.first_button_form::before {
    content: "";
    border: 1px solid transparent;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #8c6ae4;
    z-index: -1;
    border-radius: 5px;
    transition: transform 0.5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
    border-radius: 0px;
}
.checked {
    color: orange;
}
/* ===============================HEADER============================== */
/* header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
} */
header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* LEFT HEADER */
.header_menu > nav > ul  {
    display: flex;
    align-items: center;
}
.header_menu > nav > ul > li {
    font-weight: 600;
}
.header_menu > nav > ul > li > a {
    cursor: pointer;
    text-decoration: none;
}
.header_menu > nav > ul > li > a > p {
    color: black;
}
/* RIGHT HEADER */
.header_social > a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(27, 24, 24);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    
}
.header_social > a > i {
    color: #1D2547;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.header_social > a > i:hover {
    color: white;
    background-color: rgb(32, 37, 82);
}
.header_search {
    padding: 0 13px;
    height: 40px;
    text-align: center;
    background-color: rgb(235, 229, 243);
    border-radius: 20px;
    cursor: pointer;
}
.header_search > i {
    transform: translateY(55%);
}
.header_store {
    background-color: #9F78FF;
    height: 40px;
    padding: 10px 25px 10px 25px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.header_store > span {
    color: white;
    transform: translateY(10%);
}
.logout_btn {
    padding: 0 13px;
    height: 40px;
    text-align: center;
    background-color: rgb(235, 229, 243);
    border-radius: 20px;
    cursor: pointer;
    display: none;
}
.logout_btn > i {
    transform: translateY(50%);
}
.header_user {
    height: 40px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 229, 243);
    border-radius: 20px;
    padding: 13px;
}
.header_user:hover {
    color: black;
    text-decoration: none;
}
.username_login {
    display: none;
}
/* =============================END HEADER============================== */
/* =============================SIDEBAR START============================== */
.sidebar-icon {
    text-align: center;
}
.sidebar-container {
    background-color: darkslateblue;
    padding: 10px 15px;
    border-radius: 8px;
    display: none;
}
.sidebar-menu {
    display: none;
}
/* =============================SIDEBAR START============================== */
/* =============================CART START============================== */
.shopping-cart {
    display: none;
    position: fixed;
    right: 0;
    top: 12vh;
    z-index: 1000;
    background-color: rgb(223, 222, 221);
}
.cart-bottom {
    height: 70vh;
    overflow-y: scroll;
}
.cart-product > div {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.cart-product > div > img {
    height: 130px;
}
.totalPrice {
    height: 100px;
}
.btnPurchase {
    padding: 3px;
    background-color: #f4f5f9;
}
/* =============================CART END============================== */
/* =============================CAROUSEL START============================== */
.carousel-caption > div {
    margin-bottom: 10%;
}
.carousel-caption > div > p {
    font-size: 100px;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: 2px;
    font-family: Kaushan;
    margin-bottom: 2%;
}
.c-img {
    width: 100%;
    object-fit: cover;
}
/* =============================CAROUSEL END============================== */
/* =============================POPULAR START============================== */
.popular-img {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-cap {
    font-family: Kaushan;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 2px;
    background-color: rgb(34, 34, 34, 0.5);
}
.btn {
    position: absolute;
    transform: translateX(-50%);
    top: 45%;
}
.store-btn {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50%;
}
/* =============================POPULAR END============================== */
/* =============================NEW ARRIVALS START============================== */
.new-arrivals-store {
    justify-content: center;
    align-items: center;
}
.new-arrival-title-content {
    font-size: 50px;
    font-weight: 700;
    color: #140C40;
    font-family: 'Kaushan'; 
    text-align: center;
}
.new-arrivals-product {
    padding: 0;
    margin: 10px;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.popular-img {
    position: relative;
    object-fit: cover;
}
.store-btn {
    position: absolute;
    right: 0;
    top: 1;
}
.popular-caption {
    margin-top: 15px;
    padding: 0 0 40px 0; 
    display: inline-block;
}
.popular-caption > h3 > a {
    color: #140C40;
    font-size: 22px;
}
.popular-caption > h3 > a:hover {
    text-decoration: underline;
}
.rating {
    margin-bottom: 10px;
}
.popular-caption > span {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}
.btn_browse_more_container {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.btn_browse_more {
    margin-top: 20px;
    text-align: center;
    border: 1px solid #9F78FF;
    color: #9F78FF;
    background: none;
    border-radius: 5px;
    text-transform: capitalize;
    padding: 17px 42px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: color 0.4s linear;
    position: relative;
}
.btn_browse_more:hover {
    color: white;
}
.btn_browse_more:hover::before {
    transform: scaleY(1);
    border: 1px solid transparent;
    color: #fff;
}
.btn_browse_more::before {
    border: 1px solid transparent;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #9F78FF;
    z-index: -1; 
    transition: transform 0.5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleY(0);
    border-radius: 0;
}
/* =============================NEW ARRIVALS END============================== */
/* ========================================== COLLECTION ABOUT US START ========================================== */
.collection-card {
    object-fit: cover;
    position: relative;
    display: flex;
    flex-direction: column;
}
.card-content-collection {
    position: absolute;
    left: -7%;
    top: -60%;
    font-size: 65px;
    padding: 0 4em;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: Kaushan;
    color: white;
    text-align: center;
}
.btn-collection {
    position: absolute;
    top: 25%;
    left: 48%;
}
/* ========================================== COLLECTION ABOUT US END ========================================== */
/*  ========================================== READ MORE START ==========================================  */
.readmore-card {
    position: relative;
}
.card-img-overlay {
    position: absolute;
    top: 55%;
    left: 5%;
}
.readmore-text {
    font-size: 35px;
    font-weight: 450;
    line-height: 45px;
}
.readmore-button {
    position: absolute;
    top: 55%;
    left: 15%;
}
/*  ========================================== READ MORE END ==========================================  */

.service-container {
    padding: 140px 20px 130px 20px;
    background-color: #f4f5f9;
}

.footer-container {
    background-color: #1D2547;
}

.social-icon > a{
    border: 1px solid white;
}
.quick-links > h3 {
    font-size: 20px;
}
.quick-links > ul {
    display: flex;
    flex-direction: column !important;
    align-items: flex-start;
}
.quick-links > ul > li {
    padding-top: 0.5em;
}
.quick-links > ul > li > a{
    color: white;
    text-decoration: none;
    font-weight: 100;
}

@media screen and (max-width:768px){
    .header_logo {
        display: none;
    }
    .header_social {
        display: none !important;
    }
    .first_button_form {
        padding: 20;
        font-weight: 500;
        font-size: 12px;
    }
    main {
        padding-top: 90px;
    }
    .shopping-cart {
        width: 40% !important;
    }
    .carousel-caption > div > p {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 0.5em;
    }
    .card-content-collection {
        top: -60%;
        font-size: 35px;
    }
    .card-img-overlay {
        top: 45%;
    }
    .readmore-text {
        font-size: 20px;
        font-weight: 500;
        line-height: normal;
    }
    .readmore-button {
        margin-top: 0.5em;
        font-size: 16px;
        padding: 18px 20px;
        left: 28%;
    }
    .shionhouse-footer {
        display: none !important;
    }
}
@media screen and (max-width: 576px) {
    
    .header_menu > nav > ul {
        gap: 8px !important;
    }
    .header_user_find_store > ul {
        gap: 5px !important;
    }
    header > div {
        justify-content: space-between !important;
    }
    .header_menu {
        display: none;
    }
    .sidebar-container {
        display: block;
    }
    .sidebar-menu {
        background-color: darkslateblue;
        padding: 10px 15px;
        position: fixed;
        z-index: 1000;
        display: none;
        left: 2.5em;
        top: 4.25em;
        border-radius: 10px;
    }
    .cart-product > div > img {
        height: 100px;
        padding-right: 10px;
    }
    .carousel-caption > div {
        display: none;
    }
    .first_button_form {
        padding: 15px 10px;
        font-size: 16px;
    }
    .card-content-collection {
        font-size: 24px;
    }
    .readmore-container {
        gap: 10px !important;
    }
    .readmore-text {
        font-size: 14px;
    }
    .readmore-button {
        font-size: 14px;
    }
    .footer-container {
        flex-direction: column;
    }
}

              